body {
  background: url (../img/airline.jpg) no-repeat center center fixed;
  background-size: cover;

}

header {

	height: 80px;
  background-color:#136c6c;
  border-bottom: white;
  border-bottom: solid white;

}

.logo {
    bottom: 20%;
    float: left;
    padding-left: 30px;
    padding-top: 10px;
    height: 60px;
}
.box-img {
  height: 30px;
}
ul {
  float: right;
}
li {
	color: white;
  float: left;
  list-style-type: none;
  padding-top: 40px;
  padding-right: 12px;
}

.div1 {
    width: 220px;
    height: 180px;
    padding: 50px;
    border: 1px;
    margin-top: 125px;
    margin-left: 243px;
    background-color: #136c6c;
}
.plane {
  background-color: blue;
}
.topbox {
  width: 73.3px;
  height: 40px;
  padding: 30px;
  border: solid white;


}
a {
 display: inline-block;
 padding: 0 5px;
 font-size: 12px;
 opacity: 0.5;
 text-decoration:none;
 color: white;
 font-style: oblique;
 font-family: sans-serif;
 line-height:1;
 font
}
