body {
  background-color: #D0D0D0;
}
.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  width: 100%;
  height: 1200px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #B0B0B0;
}
div a {
  text-decoration: none;
  color: black;
}
p {
  font-family: monospace;
}
h1 {
text-align: center;
font-size: 30px;
font-family: fantasy;
margin-top: 10px;
}
.item {
  background-color: #e6ffe6;
  font: white;
  border: solid 1em black;
  font-family: monospace;
  text-align: center;
}
.item.box1 img {
  float: left;
  height: 100%;
  width: 30%;
}
.item.box2 img {
  float: left;
  height: 100%;
  width: 45%;
}
.item.box3 img {
  height: 40%;
  width: 100%;
  margin-top: 0px;
}
.item.box4 img {
  height: 30%;
  width: 100%;
  margin-top: 0px;
}

.item.box5 img {
  height: 30%;
  width: 100%;
  margin-top: 0px;
}
.item.box6 img {
  height: 30%;
  width: 100%;
  margin-top: 0px;
}
.item.box10 img {
  height: 40%;
  width: 100%;
  margin-top: 0px;
}
.item.box9 img {
  height: 40%;
  width: 100%;
  margin-top: 0px;
}
.item.box8 img {
  height: 40%;
  width: 100%;
  margin-top: 0px;
}
.item.box7 img {
  height: 40%;
  width: 100%;
  margin-top: 0px;
}
.item.box1 p, .item.box2 p {
  margin-left: 20px;

}
.text3 {
  text-align: center;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
  font-family: monospace;
}
h3 {
  text-align: center;
  font-family: fantasy;
}
.item.box1 {
  border: solid 2px black;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2;
  height: 300px;
  width: 480px;
  margin-left: 225px;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.item.box2 {
  grid-column-start: 3;
  grid-column-end: span 5;
  grid-row-start: 1;
  grid-row-end: span 2;
  height: 300px;
  width: 480px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  border: solid 2px black;
  font-family: monospace;
  text-align: center;
}
.item.box3 {
  border: solid 2px black;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 2;
  grid-row-end: span 4;
  height: 600px;
  width: 715px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.item.box4 {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row-start: 2;
  grid-row-end: span 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 2px black;
  height: 300px;
  width: 300px;
}
.item.box5 {
  grid-column-start: 4;
  grid-column-end: span 5;
  grid-row-start: 2;
  grid-row-end: span 3;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 2px black;
  height: 300px;
  width: 300px;
}
.item.box6 {
  border: solid gray;
  grid-column-start:3;
  grid-column-end: span 5;
  grid-row-start: 3;
  grid-row-end: span 4;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 2px black;
  height: 300px;
  width: 668px;
}
.item.box7 {
  grid-column-start:1;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: span 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 2px black;
  height: 450px;
  width: 350px;
}
.item.box8 {
  grid-column-start:2;
  grid-column-end: span 3;
  grid-row-start: 4;
  grid-row-end: span 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 2px black;
  height: 450px;
  width: 350px;
}
.item.box9 {
  grid-column-start:3;
  grid-column-end: span 4;
  grid-row-start: 4;
  grid-row-end: span 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 2px black;
  height: 450px;
  width: 350px;
}
.item.box10 {
  grid-column-start:4;
  grid-column-end: span 5;
  grid-row-start: 4;
  grid-row-end: span 5;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid 2px black;
  height: 450px;
  width: 350px;
}

.item:hover {
  background: #ffccff;
}


/* Extra Small and up (Portrait Phones) */



/* Small and up (Landscape Phones) */
@media (min-width: 576px) {
  /* Just use the same as Extra Small above  */
}

/* Medium and up (Tablets) */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "box1 box2"
      "box3 box4"
      "box5 box6"
      "box7 box8";
  }
}

/* Large and up (Desktops) */
@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "box1 box1 box2"
      "box3 box4 box2"
      "box6 box5 box5"
      "box6 box7 box8";
  }
}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {
  /* Just use the same as Large above  */
}
