.mainContainer {
  background: black;
  height: 450px;
  color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.column {
  text-align: center;
  width: 200px;
}
.column h1{
font-weight: bold;
font-size: 2em;
}
.title h1 {
  font-weight: 100;
}
.title::last-word {
  font-weight: bolder;
}
.column p {
  font-size: 1em;
}
.column:nth-child(1) {
  border-top: solid 30px #33a8dd;
}
.column:nth-child(2) {
  border-top: solid 30px #f46731;
}
.column:nth-child(3) {
  border-top: solid 30px #2bcdc0;
}
.titleContainer {
  background-color: #2bcdc0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
}
.title {
  color:#ffffff;
  font-family: 'Lora', sans-serif;
  font-size: 2em;
}
.block {
  padding-top: 20px;
}
.welcome {
  font-size: 50px;
}
@media (max-width: 768px) {
  .titleContainer {
    background: #3BA9DB;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }
  .mainContainer {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    align-items: center;
    margin-top: 100px;
    justify-content: center;
  }
  strong {
    display:block;
  }
  .column:nth-child(1) {
    border-top: solid 30px #3BA9DB;
    margin-top: auto;
    padding-top: 2px;
  }
  .column:nth-child(2) {
    border-top: solid 30px #f46731;
    margin-top: 50px;
  }
  .column:nth-child(3) {
    border-top: solid 30px #2bcdc0;
    margin-top: 50px;
  }
  .welcome {
    text-align: center;
  }
}
